<!-- A carousel slide that lists all the brothers whose birthday it is -->

<video class="background-video" autoplay loop>
    <source class="vidmp4" src="" type="video/mp4">
    <source class="vidweb" src="" type="video/webm">
</video>
<div class="slide-content">
    <h1 class="birthday-message"></h1>
</div>
