<!-- A template that will render a rotating grid of event objects -->

<div class="container-fluid">
    <div class="row eventsrow1 eventsrow">
        <div class="event1 event col-4">
        </div>
        <div class="event2 event col-4">
        </div>
        <div class="event3 event col-4">
        </div>
    </div>
    <div class="row eventsrow2 eventsrow">
        <div class="event4 event col-4">
        </div>
        <div class="event5 event col-4">
        </div>
        <div class="event6 event col-4">
        </div>
    </div>
</div>