<!-- Serves as a footer that will be rendered at the bottom of every page -->

<div id="footer" class="container-fluid">
    <div class="row social-media-links">
        <h2>Stay Connected With Us!</h2>
        <div class="link facebook-link col-2">
            <a href="default.asp">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <div class="link instagram-link col-2">
        </div>
        <div class="link twitter-link col-2">
        </div>
        <div class="link linkedin-link col-2">
        </div>
        <div class="link youtube-link col-2">
        </div>
        <div class="link gallery-link col-2">
        </div>
    </div>
    <div class="row email-signup">
    </div>
    <div class="row site-acknowledgements">
        <p>This website was created and maintained by Kirk P. Morgan and uses GitHub Pages.</p>
    </div>
</div>