<!-- A simple fixed navbar that is imported to website pages -->

<nav class="navbar fixed-top navbar-expand-xl navbar-custom">
    <!-- Navbar Logo & Heading Here -->
    <div class="navbar-brand" href="#">
        <img class="navbarLogo" src="images/logos/navbarlogo.png" width="128" height="128"  alt="DSP Coat of Arms">
        <header class="h4 navbarHeading">&Delta;&Sigma;&Pi; - Sigma Omega</header>
    </div>
    <!-- Collapsed Navbar Link Button Here -->
    <button class="navbar-toggler toggler-custom collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
        <!-- Hamburger Menu Lines -->
        <span></span>
        <span></span>
        <span></span>
    </button>
    <!-- Navbar Links Here -->
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav navbar-right ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="brothers.html">Brothers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  rush-link" href="recruitment.html">Join Fall 18'</a>
            </li>
        </ul>
    </div>
</nav>