<!-- Template for the un-expanded profile on the brothers page -->

<div class="brother-profile hoverbox">
    <div class="profile-description hoverbox-text">
        <p class="ecposition"></p>
        <h3 class="profileitem name"></h3>
        <p class="profileitem class">Class: </p>
        <p class="profileitem major">Major(s): </p>
        <p class="profileitem hometown">Hometown: </p>
        <p class="profileitem gradyear">Graduation Year: </p>
        <p class="profileitem moreinfo">- Click for more info -</p>
    </div>
    <img class="profile-picture hoverbox-image" src="">
</div>