/* This file contains all of the custom style information for the website */
/* Styling for the brother's page */
html {
  margin: 0; }

.page-banner {
  width: 100%; }
  .page-banner .banner-image {
    width: inherit;
    opacity: 0.8;
    z-index: -1; }

.brosearch-tools {
  background-color: #2c3e50; }
  .brosearch-tools .search-header {
    font-family: 'Book Antiqua', Serif;
    color: #ecf0f1;
    text-align: center;
    padding: 2% 0 1% 0; }
